langchain_pinecone==0.2.2
cryptography>=3.1
langchain_experimental
lark
sentence-transformers
langchain
langchain-community
langchain-experimental
torch
transformers
sentence-transformers
json-repair
langchain_google_genai
sentence-transformers 
joblib 
bitsandbytes
faiss-cpu