langchain_pinecone
cryptography>=3.1
langchain_experimental
lark
sentence-transformers
langchain>=1.0
langchain-community
langchain-experimental
torch
transformers
sentence-transformers
json-repair
langchain_google_genai
sentence-transformers 
joblib 
bitsandbytes
faiss-cpu
langchain-openai
langsmith>=0.1.0